<hrb-dropdown-menu trigger-value="My Custom Label">
  <hrb-dropdown-menu-item name="myMenu"
    value="2020"
    type="checkbox"></hrb-dropdown-menu-item>
  <hrb-dropdown-menu-item name="myMenu"
    value="2021"
    type="checkbox"></hrb-dropdown-menu-item>
  <hrb-dropdown-menu-item name="myMenu"
    value="2022"
    type="checkbox"></hrb-dropdown-menu-item>
  <hrb-dropdown-menu-item name="myMenu"
    value="2022"
    type="checkbox"></hrb-dropdown-menu-item>
  <hrb-dropdown-menu-item name="myMenu"
    value="2022"
    type="checkbox"></hrb-dropdown-menu-item>
  <hrb-dropdown-menu-item name="myMenu"
    value="2022"
    type="checkbox"></hrb-dropdown-menu-item>
</hrb-dropdown-menu>
