registry=https://registry.npmjs.org/
always-auth=true
audit=false
progress=false

@hrblock-ocap:registry=https://pkgs.dev.azure.com/hrblock/_packaging/AssistedOnline/npm/registry/
; begin auth token
//pkgs.dev.azure.com/hrblock/_packaging/AssistedOnline/npm/registry/:username=AssistedOnline
//pkgs.dev.azure.com/hrblock/_packaging/AssistedOnline/npm/registry/:_password=c29wcnltbnZzZzd5YXR5djdndHdpZ2xteDZwNXBraXN0MmE3anZrcXN1c2Eybnc3cjVrYQ==
//pkgs.dev.azure.com/hrblock/_packaging/AssistedOnline/npm/registry/:email=asharaf.moidu@hrblock.com
//pkgs.dev.azure.com/hrblock/_packaging/AssistedOnline/npm/:username=AssistedOnline
//pkgs.dev.azure.com/hrblock/_packaging/AssistedOnline/npm/:_password=c29wcnltbnZzZzd5YXR5djdndHdpZ2xteDZwNXBraXN0MmE3anZrcXN1c2Eybnc3cjVrYQ==
//pkgs.dev.azure.com/hrblock/_packaging/AssistedOnline/npm/:email=asharaf.moidu@hrblock.com
; end auth token

@bds:registry=https://pkgs.dev.azure.com/hrblock/Block-Design-System/_packaging/bds-dev/npm/registry/
; begin auth token
//pkgs.dev.azure.com/hrblock/Block-Design-System/_packaging/bds-dev/npm/registry/:username=bds
//pkgs.dev.azure.com/hrblock/Block-Design-System/_packaging/bds-dev/npm/registry/:_password=c29wcnltbnZzZzd5YXR5djdndHdpZ2xteDZwNXBraXN0MmE3anZrcXN1c2Eybnc3cjVrYQ==
//pkgs.dev.azure.com/hrblock/Block-Design-System/_packaging/bds-dev/npm/registry/:asharaf.moidu@hrblock.com
//pkgs.dev.azure.com/hrblock/Block-Design-System/_packaging/bds-dev/npm/:username=bds
//pkgs.dev.azure.com/hrblock/Block-Design-System/_packaging/bds-dev/npm/:_password=c29wcnltbnZzZzd5YXR5djdndHdpZ2xteDZwNXBraXN0MmE3anZrcXN1c2Eybnc3cjVrYQ==
//pkgs.dev.azure.com/hrblock/Block-Design-System/_packaging/bds-dev/npm/:email=asharaf.moidu@hrblock.com
; end auth token
