<div class="h-full w-full  copyDrag  " noncopydraggable=true resizable=true>
  <ul class="flex">
    <li class="mr-3">
      <a class="inline-block border border-blue-500 rounded py-1 px-3 bg-blue-500  text-xs text-white" href="#">Tab
        1</a>
    </li>
    <li class="mr-3">
      <a class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3 text-xs"
        href="#">Tab 2</a>
    </li>

    <li class="mr-3">
      <a class="inline-block border border-white rounded hover:border-gray-200 text-blue-500 hover:bg-gray-200 py-1 px-3 text-xs"
        href="#">Tab 3</a>
    </li>
  </ul>
  <div resizable=true class="mt-2 w-11/12 h-5/6 border-4   border-dashed border-green-500 droppable dropParent-tabs " droppable=true>

  </div>
</div>